// Variables
// color name
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$white:#fff !default;
$red: #dc2821 !default;
$yellow: #f6c059 !default;
// color name
$primary: $red;
$secondary:#999;
$danger: $red;
// background-color
$primary-bg-color:$white;
$secondary-bg-color:$gray-100;
// border-color
$border-color:$gray-300;
$card-spacer-y: .325rem;
$card-spacer-x: .75rem;