.home-notice {
    margin: 0.1rem 0 0.1rem 0.1rem;
    .notice-title {
        padding: 0.05rem 0;
        font-weight: bold;
        border: 1px solid $primary;
        margin-right: 0.1rem;
        color: $primary;
        min-width: 1rem;
        background: #fff;
        text-align: center;
    }
    .notice-content {
        .newest,
        .hotest {
            width: 32px;
            text-align: center;
            border: 1px solid $primary;
            margin-right: 0.1rem;
            color: $primary;
            background: #fff;
        }
        .yd-rollnotice-box {
            width: 75%;
        }
    }
}