.home-container .yd-slider-item a {
  width: 100%;
  height: 4rem;
  text-align: center;
  vertical-align: middle;
}

.home-container .yd-slider-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
