.loan-item {
  display: block;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.loan-item img {
  width: 100%;
  height: 2rem;
}

.loan-item .content {
  padding: 0.23rem 0;
  text-align: center;
  line-height: 1;
  background: #fff;
}

.loan-item .content h3 {
  font-weight: normal;
  font-size: 0.34rem;
  color: #1a191e;
}

.loan-item .content p {
  margin-top: 0.11rem;
  font-size: 0.16rem;
  color: #333;
  text-transform: Uppercase;
  letter-spacing: 2px;
}

.customer-service {
  position: fixed;
  width: 0.76rem;
  height: 0.76rem;
  border: 0.04rem solid #fff;
  text-align: center;
  background: #dab461 url(../../../img/customer-service.png) no-repeat center;
  background-size: 0.54rem 0.54rem;
  border-radius: 50%;
  right: 0.26rem;
  bottom: 1.4rem;
  z-index: 99;
}
