.suggestions {
    .yd-cell-left {
        padding-right: 0.1rem;
    }
    .yd-cell-box {
        margin-top: 0.2rem;
    }
    .title {
        display: block;
        padding: 0.2rem 0.24rem 0 0.24rem;
        color: #333;
        font-weight: normal;
        font-size: .3rem;
        white-space: nowrap;
        text-align: left;
    }
    .box {
        margin: 0.5rem 0.24rem;
    }
}